.registerMain {
  display: flex;
  flex-direction: column;
  margin: 80px 28% 80px 28%;
  gap: 5em;
}

.registerContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.registerContainer1 h1 {
  color: #746ACE;
  font-size: 58px;
}

.registerContainer1 span {
  font-size: 18px;
}

.registerContainer2 {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.registerContainer2 div input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.registerContainer2 div:nth-child(3) span {
  color: #868E96;
  font-size: 12px;
}

.registerContainer2 div:nth-child(4) span {
  color: #e60000;
  font-size: 12px;
}

.registerBtn {
  display: flex;
  justify-content: center;
}

.registerBtn button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  background: #5E5796;
  width: 115px;
  height: 35px;
  cursor: pointer;
}
