#flashcardsCollection {
  width: 210px;
  height: 300px;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.card {
  width: 200px;
  height: 300px;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cardContent div:first-child {
  display: flex;
  font-size: 22px;
  flex-basis: 10%;
  align-items: center;
  justify-content: flex-end;
  color: #4472C4;
}

.cardContent div:first-child i {
  cursor: pointer;
}

.cardContent div:nth-child(2) {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 60%;
}

.cardContent div:nth-child(2) img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 160px;
  cursor: pointer;
}

.cardContent div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  font-weight: bold;
  font-size: 24px;
  color: #27ACA7;
  cursor: pointer;
}

.cardContent div:last-child {
  display: flex;
  flex-basis: 10%;
  font-size: 22px;
  align-items: center;
  justify-content: flex-end;
  color:  #FF1818;
}

.cardContent div:last-child i {
  cursor: pointer;
}