.homeMain {
  width: 1200px;
  margin: 80px auto;
}

.homeContainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.homeContainer1 h1 {
  color: #746ACE;
  font-size: 68px;
}

.homeContainer1 span {
  font-size: 38px;
}

.homeContainer2 {
  margin-top: 70px;
  padding-left: 260px;
  font-size: 18px;
  font-weight: bold;
  opacity: 1;
  transition: opacity .8s ease-out;
}

.homeContainer3 {
  margin-top: 10px;
  display: flex;
  padding-left: 100px;
  gap: 1em;
}

.homeContainer3Yellow {
  display: flex;
  flex-direction: column;
  color: #FFFF00;
  width: 180px;
  opacity: 1;
  transition: opacity .8s ease-out;
}

.homeContainer3Yellow span {
  font-weight: bold;
  font-size: 18px;
  width: 140px;
  padding-top: 10px;
  text-align: center;
}

.homeContainer3Yellow i {
  position: relative;
  width: min-content;
  font-size: 48px;
  animation: arrowAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#homeFlashcard1 {
  cursor: pointer;
}

.homeContainer3 div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.homeFlashcards {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  padding: 0 20px 0 20px;
  border: #707070 solid 2px;
  color: #4B5366;
  border-radius: 15px;
  background: #ffffff;
}

.fa-right-long {
  text-align: center;
  width: 210px;
  font-size: 120px;
  text-shadow: 2px 2px #707070;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.homeFlashcards span {
  display: flex;
  font-size: 34px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  height: 125px;
}

#homeFlashcard2 {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.homeMainLogged {
  margin: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.homeContainer1Logged {
  display: flex;
  justify-content: flex-end;
}

.homeContainer1Logged button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  background: #5E5796;
  width: 145px;
  height: 45px;
  cursor: pointer;
}

.homeContainer2Logged {
  display: flex;
  flex-direction: row;
  gap: 4em;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes arrowAnimation {
  from {
    left: 0px;
  }
  
  to {
    left: 135px;
  }
}
