.componentCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ffffff;
  font-size: 20px;
  padding: 5px 20px;
}

.componentCardName {
  flex: 1;
  font-weight: bold;
  color: #3C3C3C;
}

.componentCardBtn {
  display: flex;
  gap: 1em;
}

.componentCardIconPencil i {
  font-size: 22px;
  cursor: pointer;
  color: #4472C4;
}

.componentCardIconTrash i {
  font-size: 22px;
  cursor: pointer;
  color:  #FF1818;
}